body {
  border: 20px solid white;
  font-family: "Times New Roman", Times, serif;
  background-color: black;
  padding: 15px 20px;
  margin: 0;
}

button {
  font-family: "Times New Roman", Times, serif;
  font-size: 100%;
  border: 2px solid black;
  padding: 15px 20px;
  background-color: gray;
  color: slategray;
  cursor: pointer;
}

h1 {
  font-family: "Times New Roman", Times, serif;
  background-color: slategray;
  color: gray;
  padding: 10px;
  margin: 0;
}

p {
  font-family: "Times New Roman", Times, serif;
  color: gray;
}
